name: IOS Fastlane

on:
  workflow_call:
    inputs:
      LANE:
        type: string
        required: false
        default: "beta"
    secrets:
      MATCH_PASSWORD:
        required: true
      MATCH_GIT_BASIC_AUTHORIZATION:
        required: true
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true

jobs:
  build-and-deploy:
    name: Build and Deploy iOS
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2 # or whatever Ruby version your fastlane needs

      - name: Install Bundler 2.x
        run: gem install bundler -v 2.7.2

      - name: Install dependencies
        run: bundle _2.7.2_ install

      - name: Install fastlane
        run: bundle exec fastlane --version

      - name: Run fastlane beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
        run: cd ios
          bundle exec fastlane ios ${{ inputs.LANE }}
