name: IOS Fastlane

on:
  workflow_call:
    inputs:
      LANE:
        type: string
        required: false
        default: "beta"
    secrets:
      PERSONAL_ACCESS_TOKEN:
        required: true
      MATCH_PASSWORD:
        required: true
      MATCH_GIT_BASIC_AUTHORIZATION:
        required: true
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
      TELEGRAMBOT_TOKEN:
        required: true
      TELEGRAM_CHATID:
        required: true
      TELEGRAM_TOPICID:
        required: true

jobs:
  run-fastlane:
    name: Run Fastlane
    runs-on: macos-latest

    steps:
      - name: Configure Git auth for private dependencies
        run: |
          echo "machine github.com login x-access-token password ${{ secrets.PERSONAL_ACCESS_TOKEN }}" > ~/.netrc
          chmod 600 ~/.netrc

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      - name: Install Bundler 2.x
        working-directory: ios
        run: gem install bundler -v 2.7.2

      - name: Install dependencies
        working-directory: ios
        run: bundle _2.7.2_ install

      - name: Install fastlane
        working-directory: ios
        run: bundle exec fastlane --version

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.5"

      - name: Install Flutter deps
        run: flutter pub get

      - name: Clean Derived Data
        run: rm -rf ~/Library/Developer/Xcode/DerivedData/*

      - name: Pod Install
        working-directory: ios
        run: pod install --repo-update

      - name: Run fastlane beta
        working-directory: ios
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
          APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          # Force non-interactive mode
          FASTLANE_IT_WORKS: true
        run: bundle exec fastlane ${{ inputs.LANE }}
